[Unit]
Description=Programs Integrator service

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/programs-integrator
Restart=always
