[Desktop Entry]
Name=Programs Integrator Configuration
Exec="$HOME/.local/bin/programs-integrator-ctl"
Icon=programs-integrator
Terminal=false
Type=Application
Categories=System;Utility;
